  .root {
     li {
        display: inline-block;
   
    a {
      text-align: center;
      width: 45px;
      line-height: 42px;
      height: 45px;
      border: solid 2px gray;
      border-radius: 30px;
      margin-right: 10px;
      cursor: pointer;
      display: inline-block;
      color: black;
      font-weight: bold;
  
      &:hover {
          background-color: gray;
          color: black;
         }
        }
      }

      :global {
        .selected {
          a {
            background-color: black;
          color: white;
          }
       }
      }
  }
  